
.multiCorousel{
    background-color: white;
    width: 98%;
    margin: 10px auto;
    height: fit-content;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 10px;
}

.corouselTittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(223, 225, 228, 0.613);
}

.corouselTittle a{
    color: black;
}

.multiCorousel h1{
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    margin-left: 10px;
}

.corouseldesign{
    display: flex;
    /* overflow: hidden; */
    margin: auto;
    justify-content: center;
    align-items: center;
}

.corouselBody{
    width: 90%;
    overflow: hidden;
}

.corouselwork{
    display: inline-flex;
    flex-wrap: nowrap;
    /* width: 70%; */
    margin: auto;
    transition: 2ms ease-in-out;
    align-items: center;
    justify-content: center;
}

.corouselCard{
    width: 200px;
    height: 250px;
    background-color: rgba(223, 225, 228, 0.613);
    margin: 10px;
    transition: 2ms ease-in-out;
}

.corouselIcon{
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

.bookcard{
    width: 200px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

.bookcard a{
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
}

.bookcard .image{
    height: 200px;
    overflow: hidden;
}

.bookcard p{
    margin: 0;
    padding: 0;
}

.bookcard p:nth-child(2n){
    font-weight: 500;
    font-size: 16px;
}

.bookcard p:nth-child(2n+1){
    font-size: 12px;
}

.coroselLoaderUpper{
    height: 325px;
}
