.favourite {
    width: 80%;
    margin: auto;
    text-align: center;
}

.favourite h1 {
    font-size: 24px;
    font-weight: 600;
    font-style: oblique;
}


.Favbookdata {
    display: flex;
    /* flex-wrap: wrap; */
    overflow: hidden;
    width: 100%;
    margin: 25px auto;
}

.FavBookImage {
    width: 25%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.Favbookdetail {
    width: 70%;
    padding-left: 10px;
    text-align: start;
    position: relative;
}

.Favbookdetail h1 {
    margin: 0;
    padding: 0;
    width: fit-content;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
}

.Favbookdetail h2 {
    margin: 0;
    padding: 0;
    width: fit-content;
    font-size: 18px;
    font-weight: normal;
}

.Favbookdetail a{
    color: black;
    font-style: italic;
    position: absolute;
    bottom: 0;
}

.Favbookdetail p{
    text-decoration: underline;
    font-style: italic;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
@media (max-width:629px) {
    .FavBookImage {
        width: 45%;
    }
    
    .Favbookdetail {
        width: 50%;
    }
}

@media (max-width:322px) {
    .FavBookImage {
        width: 50%;
    }
    
    .Favbookdetail {
        width: 45%;
    }
}