.homeclass{
    width: 94%;
    margin: 20px auto auto auto;
}

.HomecorouselShow{
    /* width: 80%; */
    display: flex;
}

.Homecorouselwidth{
    width: 75%;
}

.HomeLogoGif{
    width: 25%;
    margin: 10px 10px 10px 0px;
}

@media (max-width:660px) {
    .HomeLogoGif{
        display: none;
    }
    .Homecorouselwidth{
        width: 100%;
    }
}
