/* Book INFO */
.Bookinfo{
    display: flex;
    flex-wrap: nowrap;
    margin: 20px;
    /* width: fit-content; */
    height: fit-content;
}

.InfoLogoGIF{
    width: 30%;
}

.BookinfoForm{
    width: 40%;
    margin: auto;
    background-color: white;
    height: fit-content;
    text-align: center;
}

.BookinfoForm p{
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
    font-style: italic;
}

.BookinfoForm h1{
    font-size: 24px;
    font-weight: 400;
    font-family: cursive;
    padding: 0;
    margin: 0;
}

.BookinfoForm h3{
    font-size: 16px;
    font-weight: 400;
    /* font-family: cursive; */
    color: red;
    padding: 0;
    margin: 0;
}

.BookinfoForm h2{
    width: 80%;
    margin: auto;
    padding: 0px;
    margin-top: 20px;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    font-family: cursive;
}

.BookinfoForm button{
    width: 30%;
    padding: 5px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #757575;
    border-radius: 5px;
    color: white;
}

.BookinfoFormDesign input{
    width: 80%;
    padding: 5px 2px 0px 2px;
    margin: 30px auto 0px auto;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.505);
    font-size: 16px;
}
.BookinfoFormDesign input:focus{
    border-bottom: 2px solid rgb(0, 0, 0);
}

.BookinfoFormDesign p{
    padding: 0;
    margin: 0;
    text-align: left;
    width: 80%;
    padding: 5px 0px 0px 0px;
    margin: auto;
    color: red;
}

@media (max-width:617px) {
    .InfoLogoGIF:nth-child(1){
        display: none;
    }

    .BookinfoForm{
        width: 70%;
    }
}

@media (max-width:536px) {
    .Bookinfo{
        flex-wrap: wrap;
    }

    .InfoLogoGIF:nth-child(1){
        display: block;
        width: 100%;
        height: 200px;
    }
    .InfoLogoGIF:nth-child(3){
        display: none;
    }

    .BookinfoForm{
        width: 100%;
        height: fit-content;
    }
}