.Lscard {
    display: flex;
    width: 80%;
    margin: 30px auto;
    /* height: calc(100vh); */
}


.login,
.signup {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 60%;
    background-color: white;
    font-size: 24px;
    height: 100%;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.login {
    height: 500px;
}

.login h1,
.signup h1 {
    font-size: 24px;
    width: fit-content;
    margin: auto;
}

.login p,
.signup p {
    font-size: 16px;
    width: fit-content;
    margin: auto;
}

.login form,
.signup form {
    width: 80%;
    margin: auto;
}

.float-label-field {
    border: none;
    outline: none;
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    box-sizing: border-box;
}

.loginbutton,
.signbutton {
    /* height: 30px; */
    width: 30%;
    padding: 5px;
    margin: auto;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #757575;
    border-radius: 5px;
    color: white;
}

.float-label-field input {
    border: none;
    outline: none;
    padding: 5px 5px 8px 0px;
    margin-left: 10px;
    width: 90%;
    font-size: 18px;
    border-bottom: solid 1px #aaa7a7;

}

.float-label-field label {
    opacity: 0.5;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.2s ease;
    font-size: 18px;
}

.float-label-field.float input {
    border-bottom: solid 1px #000000;
}

.float-label-field.float label {
    opacity: 1;
    top: -8px;
    font-size: 60%;
    transition: all 0.2s ease;
    font-weight: bold;
}

.logoG {
    width: 40%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.float-label-field p {
    color: red;
    /* width: 100%; */
    margin-left: 10px;
}
.warning{
    color: red;
}

@media (max-width:650px) {
    .logoG{
        display: none;
    }
    .Lscard{
        width: 90%;
    }
    .login,.signup{
        width: 100%;
    }
}