.reviewheading {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    border-bottom: 2px solid rgb(67, 64, 64);
}

.reviews {
    height: 250px;
    overflow: auto;
}

.reviews h1{
    font-size: 24px;
    font-weight: normal;
    margin: 20px auto;
}

.ViewerReview{
    border-bottom: 2px solid rgb(182, 180, 180);
    padding-top: 15px;
    margin-bottom: 10px;
}

.ViewerStar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ViewerStar p{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-style: normal;
}

.ViewerStar span{
    font-size: 13px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.652);
    font-style: oblique;
}

.ViewerReviewText{
    font-style: normal;
    padding: 3px 0px;
    font-weight: 500;
    font-size: 18px;
}

.UserReview {
    border-top: 2px solid rgb(67, 64, 64);
}

.UserReview p {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.UserReview p:nth-child(2){
    color: red;
    font-style: normal;
    font-size: 16px;
    height: 25px;
}

.UserReview .nostar {
    color: rgb(94, 92, 92);
    font-size: 24px;
    cursor: pointer;
}

.UserReview .yesstar {
    color: rgb(255, 174, 0);
    font-size: 24px;
    cursor: pointer;
}

.writereview {
    outline: none;
    border: none;
    border: 2px solid rgb(189, 189, 189);
    width: 90%;
    height: 70px;
    resize: none;
    font-style: oblique;
    font-size: 16px;
    /* background: linear-gradient(to right, rgb(255, 255, 255), rgb(243, 240, 240)); */
    background-color: rgb(243, 240, 240);
}

.UserReview button{
    color: white;
    border: none;
    background-color: gray;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.UserReview p a{
    color: black;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 500;
}   