.searchfile {
    width: 80%;
    margin: auto;
    transition: 2s ease-in-out;
}

.searchfield {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    /* height: fit-content; */
    transition: 2s ease-in-out;
}

.searchfield .select{
    width: 80%;
    padding: 5px 10px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
}

.searchfield  select {
    outline: none;
    border: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    color: rgb(106, 104, 104);
}

.searchfield input {
    outline: none;
    border: none;
    width: 80%;
    margin: 10px;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(106, 104, 104);
}

.searchfield button{
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: gray;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width:415px) {
    .searchfile {
        width: 97%;
    }
}